html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ECA03A;
}

.calculator{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 50%;
    min-width: 249px;
    padding: 16px;
    min-height: 250px;
    height:75%;
}

.display-external{
display: flex;
height: 25%;
align-self: center;
justify-content:flex-end;
align-items: center;
margin-top: 16px;
margin-bottom: 20px;
padding-right: 16px;
width: 85%;
color: black;
overflow-x: hidden;
overflow-y: hidden;
background-color: #CCD1B5;
}

.display{
    margin: 0;
    height: fit-content;
    font-size: 9vh;
    display: flex;
    justify-content: flex-end;
    overflow: auto;
}

.row{
    display: flex;
    justify-content: space-evenly;
     height:25%;
     padding: 8px;

}

button{
    display: inline-block;
    min-width: 20%;
    border:none;
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none;
    border-radius: 20%;
    
}

.row button:hover{
    color: black;
    background-color: white;
    pointer-events: stroke;
}

.op-key, #equal , #clear{
 background-color: #ED8A25;
 color:white;
}

.key{
    background-color: #38393B;
    color: white;  
}



